.notification-wrapper {
  position: relative;
}

.notification-wrapper__content {
  position: relative;

  .notification-label {
    position: absolute;
    position: absolute;
    top: 3px;
    right: 3px;
    background: red;
    border-radius: 50%;
    padding: 5px;
    height: 5px;
    width: 5px;
  }

  .notification__preview {
    position: absolute;
    width: 400px;
    background: red;
    right: -166px;
    left: auto;
  }
}
