.payment_wrapper {
  width: 40%;
  margin: auto;
  background: var(--white);
  padding: 40px;
  margin-top: 90px;
  position: absolute;
  margin-left: 30%;
  margin-right: auto;
  border-radius: 4px;
}

.loader-caption {
  text-align: center;
}
