body {
  background: var(--black);
}

.signin-wrapper {
  min-height: 250px;
  padding: 100px 40px;

  .container {
    padding: 40px;
  }
}

.form-item {
  padding: 12px 0;
}

.sign-wrapper__logo-wrapper {
  padding: 20px 0;
}
