.job-list__heading {
  display: grid ;
  column-gap: 10px;
  width: 100%;
  background: var(--offwhite);
  margin-bottom: 20px ;
  padding: 15px;
  font-weight: bold;

  &.four {
    grid-template-columns: calc(60% - 40px) 10% 20% 20%;
  }
  &.five {
    grid-template-columns: calc(50% - 40px) 10% 10% 20% 10%;
  }
  &.six {
    grid-template-columns: calc(40% - 40px) 10% 10% 20% 10% 10%;
  }
}