.nav-toggle {
  position: absolute;
  z-index: 99;
  top: 16px;
  left: -50px;
  svg {
    fill: var(--black);
  }
}

.nav-toggle__shrink {
  position: absolute;
  top: 16px;
  left: -50px;
  z-index: 1000;
  top: 20px;
  svg {
    fill: var(--black);
  }
}
