:root {
  --primary: rgba(3, 180, 71, 1);
  --warning: #F9A602;
  /* --black: #1a1a1a; */
  --black:#161822;
  --blue: #0666d0;
  --faint: #636363;
  --dark: #636363;
  --very-faint: #c4c4c4;
  --white: #ffffff;
  --offwhite: #f3f3f3;
  --focus-blue: #85b7d9;
  --dark-red: #da2525;
  --light-gray: #f3f3f3;
}
