.app-main-content.padTop {
  margin-top: 30px;
}

// .app-main-content.single {
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
// }

.app-main-content.split {
  display: grid;
  grid-template-columns: calc(80% - 20px) 20%;
  grid-column-gap: 20px;
}

.aside-wrapper {
  position: relative;
  width: 100%;
}

.aside-content {
  position: fixed;
}

// .main-body,
// .aside-content{
//   padding: 40px;
// }