.checkout-container {
  min-height: 50vh;
  margin: auto;

  .wrapper {
    padding: 60px;
    // background: #f0f0f0;
    background: #fcfcfc;
    border-radius: 5px;
  }
}

.checkout-content__wrapper {
  display: grid;
  grid-template-columns: calc(70% - 30px) 30%;
  column-gap: 30px;
}


.checkout-btns {
  justify-content: flex-end;
}
