.nav-wrapper {
  color: white;
  padding: 20px;

  .nav-label {
    color: #a3a3a3;
  }

  .link-item {
    padding: 4px 0;
    
    .link {
      color: var(--off-white);

      &.nav-selected {
        color: var(--blue);
        font-weight: bold;
      }
    }
  }

  .nav-label {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

// override default accordion style
.nav-wrapper {
  .ui.accordion {
    background: var(--black);
    color: var(--white);

    .menu-option {
      margin-left: 25px;
    }
  }

  .ui.accordion .title:not(.ui),
  .ui.accordion .content.menu-option a {
    color: var(--white);
  }

  .ui.menu {
    margin: 4px;
  }

  // override semantic ui
  .ui.menu .item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-icon {
    fill: var(--white);
    margin-right: 5px;
    width: 15px;
    height: auto;
  }
}

.ui.menu.default-bg {
  background: var(--black);
  color: var(--white);
}

// override semantic ui
.ui.vertical.menu .default-bg .item {
  color:  var(--white);
  font-weight: bold;
}

// when the menu shrinks in size
.app-container__shrink {
  .nav-caption,
  .ui.accordion .title .dropdown.icon {
    display: none;
  }

  .ui.vertical.menu {
    width: 60px;
  }

  .nav-wrapper {
    .nav-icon {
      width: 24px;
    }
  }
}