.header {
  background:rgb(243, 243, 243);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header .content {
  position: relative;
  width: 80%;
  // margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 4px;
  align-items: center;
}

.header-offset {
  position: relative;
  height: 60px;
}

.kotage-logo {
  width: 140px;
}


@media only screen and (max-width: 1440px) {
  .header .content {
    width: 76%;
  }
}