.header {
  background:rgb(243, 243, 243);
  padding: 6px 0;
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 100;
}

.header .content {
  width: 90%;
  position: relative;
  margin-left: 4.2%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 4px;
  align-items: center;
}

.header-offset {
  position: relative;
  height: 60px;
}

.kotage-logo {
  width: 140px;
}

@media only screen and (max-width: 1440px) {
  .header .content {
    width: 76%;
  }
}
