
.order-summary__item {
  width: 100%;
  // display: inline-flex;
  display: block;
  align-items: center;
  justify-content: space-between;

  &.item-caption {
    display: flex;
    justify-content: space-between;
  }

  .item-caption {
    display: flex;
    justify-content: space-between;
  }
}

.order-summary__item h1,
.order-summary__item h2,
.order-summary__item h3, 
.order-summary__item h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}