.search-filter__wrapper {
  background: var(--white);
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 65px;
  border-bottom: 1px solid rgba(212, 212, 213, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  // display: grid;
  // grid-template-columns:  max-content max-content auto;
  // column-gap: 20px;
  color: var(--primary);
}

.v-divider {
  border-right: 1px solid rgba(212, 212, 213, 0.7);
  display: block;
  height: 100%;
  width: 1px;
}


.app_bar__offset {
  padding-top: 40px;
}