@import './styles/utils.css';
@import './styles/variable.css';
@import './styles/semantic-ui-override.scss';

body {
  color: var(--faint);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.faint {
  color: var(--faint);
}

h1.no-pad,
h2.no-pad,
h3.no-pad,
h4.no-pad,
h5.no-pad,
h6.no-pad {
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
