@import './styles/utils.css';
@import './styles/variable.css';
@import './styles/semantic-ui-override.scss';

body {
  color: var(--faint);
  font-family: 'Lato', sans-serif;
  /* font-family: 'Helvetica Neue' !important; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-pad {
  padding: 40px;
}

.container.opaque,
.background.opaque {
  background: var(--white);
}

.container.large {
  width: 80%;
}

.container.very.large {
  width: 90%;
}

.container.huge {
  width: 96%;
}


.container.medium {
  width: 65%;
  max-width: 80rem;
}

.container.small {
  width: 40%;
}

.container.mini {
  width: 25%;
}

.container.center {
  margin-left: auto;
  margin-right: auto;
}

.app-primary {
  color: var(--blue);
}

.app-success {
  color: var(--primary);
}

.app-warning{
  color: var(--warning);
}

.app-danger {
  color: var(--dark-red)
}

svg.app-primary {
  fill: var(--blue);
}

.faint {
  color: var(--faint);
}

.sm-caption {
  font-size: 0.9rem;
}

.xsm-caption {
  font-size: 0.8rem;
}

.small.icon {
  width: 16px !important;
  height: auto !important;
}

.x-small.icon {
  width: 10px;
  height: auto !important;
}

.icon {
  height: auto;
}

.icon-12 {
  width: 12px
}

.flex {
  display:  flex;
}

.flex-inline {
  display: inline-flex;
}

.flex.center {
  align-items: center;
}

.flex.space-out {
  justify-content: space-between;
}

.flex.reverse {
  flex-direction: row-reverse;
}

.medium.icon {
  width: 20px;
  height: auto !important;
}

.big.icon {
  width: 60px;
  height: auto;
}

.big.text {
  font-size: 2rem;
}

.medium.fluid.logo {
  width: 50%;
}

.dark.icon {
  fill: var(--dark);
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

textarea {
  padding: 15px;
}

h1.no-pad,
h2.no-pad,
h3.no-pad,
h4.no-pad,
h5.no-pad,
h6.no-pad {
  margin: 0;
}

.transparent.ui.button {
  background: transparent;
  border: none;
  padding: 0;
}

.app.border.bottom {
  border-bottom: 1px solid rgba(212, 212, 213, 0.7);
}

.shadow-border {
  border: 1px solid rgba(212, 212, 213, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.shadow-border.bottom {
  border-bottom: 1px solid rgba(212, 212, 213, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.custom-link__dark {
  color: var(--dark)
}

.full-width {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
